/* Shared Styles */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

* {
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
}

body {
  /* width: 1440px; */
  padding-left: 135px;
  padding-right: 135px;
}

.section-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.para-description {
  margin-top: 1.5rem;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 14px 35px;
  border-radius: 8px;
  background: #ff5400;
  margin-top: 32px;
  border: none;
}

/* Header Styles */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}

.header-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}

.header-title > span {
  color: #ff5400;
  font-size: 2.25rem;
  font-weight: 800;
}

/* NAV Styles */
nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 44px;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 400;
}

nav li a {
  text-decoration: none;
  color: #424247;
}

#home-nav {
  color: #ff5400;
  font-size: 1.125rem;
  font-weight: 700;
}

/* Banner Styles */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin-top: 60px;
}

.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  padding-top: 106px;
}

.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 24px;
  line-height: 26px;
}

/* Tour Section Styles */
.tour-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 135px;
  padding-right: 135px;
}

/* Destination Section Styles */
.destination-container {
  margin-top: 100px;
  padding-left: 135px;
  padding-right: 135px;
  text-align: center;
}

.destination-image-container {
  margin-top: 24px;
}

.destination-image-container > img {
  margin-top: 24px;
  margin-left: 24px;
}

/* Why Us Section Styles */
.why-us-container {
  margin-top: 100px;
  padding-left: 135px;
  padding-right: 135px;
  text-align: center;
}

.hotel-service-container {
  display: flex;
  margin-top: 48px;
}

.why-us-container img {
  margin-bottom: 32px;
}

.hotels {
  padding-left: 32px;
  padding-top: 32px;
  text-align: left;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  width: 573px;
  height: 284px;
}

.service {
  padding-left: 32px;
  padding-top: 32px;
  text-align: left;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  width: 573px;
  height: 284px;
  margin-bottom: 24px;
}

.guarantee {
  padding-left: 32px;
  padding-top: 32px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 573px;
  height: 284px;
  text-align: left;
}

.why-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

.why-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
}

/* Footer Section Styles  */

.footer-section {
  width: 1440px;
  height: 502px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 100px;
  text-align: center;
}

.footer-container {
  padding-top: 100px;
  display: flex;
  gap: 1rem;

  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 4.2rem;
  list-style: none;
  overflow: hidden;
}

.social-icon-container {
  margin-top: 32px;
  margin-bottom: 50px;
}

.social-icon-container > i {
  padding-left: 30px;
}

hr {
  width: 872px;
  background: rgba(19, 19, 24, 0.1);
}

.footer-text {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 110px;
}

/* Media Query for 600px device */
@media only screen and (max-width: 600px) {
  body {
    /* width: 600px; */
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-section {
    flex-direction: column;
    padding-top: 20px;
  }

  nav > ul {
    flex-direction: column;
  }

  .banner {
    width: 500px;
    height: 483px;
  }

  .banner-title {
    font-size: 1.25rem;
  }

  .banner-description {
    font-size: 0.875rem;
  }

  .tour-container {
    flex-direction: column;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .para-description {
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .btn-primary {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .tour-image {
    width: auto;
    height: auto;
  }

  .destination-container {
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  #destination-description > br {
    content: "";
  }

  .destination-image-container > img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }

  .why-us-container {
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #why-description > br {
    content: "";
  }

  .hotel-service-container {
    flex-direction: column;
    margin-top: 16px;
  }
  .why-us-container img {
    margin-bottom: 16px;
  }

  .hotels,
  .service,
  .guarantee {
    width: auto;
    height: auto;
  }

  .hotels {
    margin-bottom: 16px;
  }
}

.footer-section {
  width: auto;
  height: auto;
  margin-top: 24px;
}

.footer-container {
  padding-top: 33px;
}

#footer-description > br {
  content: "";
}

.social-icon-container {
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-icon-container > i {
  padding-left: 15px;
}

hr {
  width: 335px;
}

.footer-text {
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 31px;
}
